<div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
  <div id="doc-nav" class="doc-nav">
      <ul id="doc-menu" class="nav doc-menu flex-column sticky">
        <li class="nav-item">
          <a class="nav-link scrollto" href="/support">Overview</a>
        </li>
        
        <!-- CDN -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" id="ug_account">Account & Authentication <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.UserGuide_User reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- CDN -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" id="ug_customer">Customer  <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.UserGuide_Customer reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- CDN -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" id="ug_whitelable">Powerby Toffs  <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.UserGuide_Whitelable reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- CDN -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" id="ug_cdn">CDN portal  <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.UserGuide_Cdn reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- CDN -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" id="ug_dns">DNS <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.UserGuide_Dns reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- CDN -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" id="ug_multicdn">Multi CDN <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.UserGuide_MultiCdn reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- CDN -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" id="ug_sslmanager">SSL Management<span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.UserGuide_SSLManage reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- CDN -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" id="ug_webmonitoring">Web monitoring <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.UserGuide_WebsiteMonitoring reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
      </ul><!--//doc-menu-->
  </div><!--//doc-nav-->
</div><!--//doc-sidebar-->