<div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
  <div id="doc-nav" class="doc-nav">
      <ul id="doc-menu" class="nav doc-menu flex-column sticky">
        <li class="nav-item">
          <a class="nav-link scrollto" href="/support">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link scrollto" href="#">SSL Certificate & TLS</a>
        </li>
        <li class="nav-item">
          <ul class="nav doc-sub-menu nav flex-column">
            {% for post in site.categories.Support_SSL %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
      </ul><!--//doc-menu-->
  </div><!--//doc-nav-->
</div><!--//doc-sidebar-->