<div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
  <div id="doc-nav" class="doc-nav">
      <ul id="doc-menu" class="nav doc-menu flex-column sticky">
        <li class="nav-item">
          <a class="nav-link scrollto" href="/support">Overview</a>
        </li>
        <!-- CDN -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" href="#">CDN <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.Cdn reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- CDN glossary -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" href="#">CDN glossary <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.Cdn_glossary reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- Certificate -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" href="#">Certificate <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.Certificate reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- DNS -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" href="#">DNS <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.Dns reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        
        <!-- API & Protection -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" href="#">API & Protection <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.Api_Firewall reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- Common Web Attack -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" href="#">Common Web Attack <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.Common_Attack reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- Vulnerability -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" href="#">Vulnerability <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.Vulnerability reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- Ransomware -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" href="#">Ransomware <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.Ransomware reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- Firewall -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" href="#">Firewall <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.Firewall reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- Rules -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" href="#">Rules <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.Rules reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
        <!-- Header -->
        <li class="nav-item active">
          <a class="nav-link clickable panel-collapsed" href="#">Header <span class="pull-right"><i class="fa-solid fa-chevron-right"></i></i></span></a>
          <ul class="nav doc-sub-menu nav flex-column collapsein">
            {% for post in site.categories.Header reversed %}
            <li class="nav-item">
              <a class="nav-link scrollto" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul><!--//nav-->
        </li>
      </ul><!--//doc-menu-->
  </div><!--//doc-nav-->
</div><!--//doc-sidebar-->