---
layout: default
---
<div class="page-wrapper">
    <!-- ******Header****** -->
    <header id="header" class="header">
        <div class="container">
            <div class="branding">
                <h1 class="logo">
                    <a href="index.html">
                        <span aria-hidden="true" class="icon_documents_alt icon"></span>
                        <span class="text-highlight">{{ site.title }}</span>
                    </a>
                </h1>
            </div><!--//branding-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <!-- {% for catg in site.categories %}
                <li class="breadcrumb-item"><a href="/">{{ catg }}</a></li>
                {% endfor %} -->
                <li class="breadcrumb-item active">{{ page.title | default: site.title }}</li>
            </ol>
            <div class="top-search-box">
                 <form class="form-inline search-form justify-content-center" action="" method="get">
            
                    <input type="text" placeholder="Search..." name="search" class="form-control search-input">
                    
                    <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
                    
                </form>
            </div>
        </div><!--//container-->
    </header><!--//header-->
    <div class="doc-wrapper">
        <div class="container">
            <div id="doc-header" class="doc-header text-center">
                <h1 class="doc-title"><span aria-hidden="true" class="icon icon_puzzle_alt"></span> {{ page.title | default: site.title }}</h1>
                <div class="meta"><i class="far fa-clock"></i> Last updated: June 22nd</div>
            </div><!--//doc-header-->
            <div class="doc-body row" >
                <div class="doc-content col-md-9 col-12 order-1">
                    <div class="content-inner">
                        <section id="dashboards" class="doc-section">
                            <h2 class="section-title">{{ page.title }}</h2>
                            <div class="section-block">
                              {{ content }}
                            </div><!--//section-block-->
                        </section><!--//doc-section-->
                        
                        
                    </div><!--//content-inner-->
                </div><!--//doc-content-->
                {% include sidebar.html %}
            </div><!--//doc-body-->              
        </div><!--//container-->
    </div><!--//doc-wrapper-->
</div><!--//page-wrapper-->
