---
layout: default
---
<script>
    var menuId='#{{ page.id_menu }}'
</script>
<div class="page-wrapper">
    <!-- ******Header****** -->
    <header id="header" class="header">
        <div class="container">
            <div class="branding">
                <h1 class="logo">
                    <a href="index.html">
                        <span aria-hidden="true" class="icon_documents_alt icon"></span>
                        <span class="text-highlight">{{ site.title }}</span>
                    </a>
                </h1>
                <div id="google_translate_element"></div>
 
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement(
                            {pageLanguage: 'en'},
                            'google_translate_element'
                        );
                    }
                </script>
             
                <script type="text/javascript"
                        src=
            "https://translate.google.com/translate_a/element.js?
            cb=googleTranslateElementInit">
                </script>
            </div><!--//branding-->
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                {% for catg in site.categories %}
                <li class="breadcrumb-item"><a href="/">{{ page.catg }}</a></li>
                {% endfor %}
                <li class="breadcrumb-item active">{{ page.title | default: site.title }}</li>
            </ol> -->
            <div class="top-search-box">
                 <form class="form-inline search-form justify-content-center" action="" method="get">
            
                    <input type="text" placeholder="Search..." name="search" class="form-control search-input">
                    
                    <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
                    
                </form>
            </div>
        </div><!--//container-->
    </header><!--//header-->
    <div class="doc-wrapper">
        <div class="container">
            <div id="doc-header" class="doc-header text-center">
                <h1 class="doc-title"><span aria-hidden="true" class="icon icon_puzzle_alt"></span> {{ page.title | default: site.title }}</h1>
                <div class="meta"><i class="far fa-clock"></i> Last updated: </div>
            </div><!--//doc-header-->
            <div class="doc-body row" >
                <div class="doc-content col-md-9 col-12 order-1">
                    <div class="content-inner">
                        <section id="dashboards" class="doc-section">
                            <h2 class="section-title">{{ page.title }}</h2>
                            <div class="section-block">
                              {{ content }}
                            </div><!--//section-block-->
                        </section><!--//doc-section-->
                    </div><!--//content-inner-->
                </div><!--//doc-content-->
                {% include sidebar.html %}
            </div><!--//doc-body-->              
        </div><!--//container-->
    </div><!--//doc-wrapper-->
</div><!--//page-wrapper-->
{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
