---
layout: default
---
<script>
    var menuId='#{{ page.id_menu }}'
</script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>
<div class="page-wrapper">
    {% include page_header.html %}
    <div class="doc-wrapper">
        <div class="container">
            <div id="doc-header" class="doc-header text-center">
                <h1 class="doc-title"><span aria-hidden="true" class="icon icon_puzzle_alt"></span> {{ page.title | default: site.title }}</h1>
                <div class="meta"><i class="far fa-clock"></i> Last updated: </div>
                <div id="google_translate_element"></div>
            </div><!--//doc-header-->
            <div class="doc-body row" >
                <div class="doc-content col-md-9 col-12 order-1">
                    <div class="content-inner">
                        <section id="dashboards" class="doc-section">
                            <h2 class="section-title">{{ page.title }}</h2>
                            <div class="section-block">
                              {{ content }}
                            </div><!--//section-block-->
                        </section><!--//doc-section-->
                    </div><!--//content-inner-->
                </div><!--//doc-content-->
                {% include sidebar_userguide.html %}
            </div><!--//doc-body-->              
        </div><!--//container-->
    </div><!--//doc-wrapper-->
</div><!--//page-wrapper-->

